.u-section-1 {
  background-image: none;
  min-height: 1044px;
}

.u-section-1 .u-group-1 {
  min-height: 1014px;
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 329px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -197px 258px 0 214px;
}

.u-section-1 .u-list-1 {
  width: 1281px;
  grid-template-rows: auto;
  margin: 178px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 582px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-image-7 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-1 .u-image-8 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-image-9 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: 27px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  margin: 27px auto 0 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 313px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 271px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -139px;
    margin-right: 158px;
    margin-left: 114px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 4.5px) calc(25% - 4.5px) calc(25% - 4.5px) calc(25% - 4.5px);
  }

  .u-section-1 .u-image-2 {
    height: 143px;
  }

  .u-section-1 .u-btn-1 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-3 {
    height: 143px;
  }

  .u-section-1 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-4 {
    height: 143px;
  }

  .u-section-1 .u-btn-3 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-5 {
    height: 143px;
  }

  .u-section-1 .u-btn-4 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-6 {
    height: 143px;
  }

  .u-section-1 .u-btn-5 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-7 {
    height: 143px;
  }

  .u-section-1 .u-btn-6 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-8 {
    height: 143px;
  }

  .u-section-1 .u-btn-7 {
    padding: 2px 0;
  }

  .u-section-1 .u-image-9 {
    height: 143px;
  }

  .u-section-1 .u-btn-8 {
    padding: 2px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 927px;
  }

  .u-section-1 .u-group-1 {
    min-height: 927px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-image-1 {
    height: 208px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -76px;
    margin-right: 48px;
    margin-left: 4px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 37px;
    margin-right: 48px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-1 .u-image-2 {
    height: 245px;
  }

  .u-section-1 .u-image-3 {
    height: 245px;
  }

  .u-section-1 .u-image-4 {
    height: 245px;
  }

  .u-section-1 .u-image-5 {
    height: 245px;
  }

  .u-section-1 .u-image-6 {
    height: 245px;
  }

  .u-section-1 .u-image-7 {
    height: 245px;
  }

  .u-section-1 .u-image-8 {
    height: 245px;
  }

  .u-section-1 .u-image-9 {
    height: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 972px;
  }

  .u-section-1 .u-group-1 {
    min-height: 972px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    min-height: 811px;
    margin-top: -15px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 722px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-image-5 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-image-6 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-image-7 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-image-8 {
    height: 425px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-image-9 {
    height: 425px;
  }

  .u-section-1 .u-gallery-nav-1 {
    top: 301px;
  }

  .u-section-1 .u-gallery-nav-2 {
    left: auto;
    top: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 779px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -13px;
    margin-bottom: 3px;
    min-height: 789px;
  }

  .u-section-1 .u-image-1 {
    height: 98px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -54px;
    margin-right: 13px;
    margin-left: -13px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 73px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 648px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 262px;
  }

  .u-section-1 .u-image-3 {
    height: 262px;
  }

  .u-section-1 .u-image-4 {
    height: 262px;
  }

  .u-section-1 .u-image-5 {
    height: 262px;
  }

  .u-section-1 .u-image-6 {
    height: 262px;
  }

  .u-section-1 .u-image-7 {
    height: 262px;
  }

  .u-section-1 .u-image-8 {
    height: 262px;
  }

  .u-section-1 .u-image-9 {
    height: 262px;
  }

  .u-section-1 .u-gallery-nav-1 {
    top: 175px;
  }

  .u-section-1 .u-gallery-nav-2 {
    top: 175px;
  }
}