.u-section-1 {
  min-height: 1193px;
}

.u-section-1 .u-image-1 {
  height: 332px;
  margin-bottom: 0;
  object-position: 50% 31.75%;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 66px auto 0;
}

.u-section-1 .u-image-2 {
  width: 46px;
  height: 19px;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + 538px);
}

.u-section-1 .u-text-2 {
  margin: -19px calc(((100% - 1140px) / 2) + 622px) 0 calc(((100% - 1140px) / 2) + 419px);
}

.u-section-1 .u-text-3 {
  margin: -21px calc(((100% - 1140px) / 2) + 438px) 0 calc(((100% - 1140px) / 2) + 604px);
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px calc(((100% - 1140px) / 2) + 158px) 0 calc(((100% - 1140px) / 2) + 604px);
}

.u-section-1 .u-text-5 {
  margin: 13px calc(((100% - 1140px) / 2) + 18px) 0 calc(((100% - 1140px) / 2) + 613px);
}

.u-section-1 .u-image-3 {
  width: 528px;
  height: 341px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -341px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-4 {
  height: 329px;
  margin-bottom: 0;
  margin-top: 30px;
  filter: brightness(0.75);
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  width: 510px;
  margin: -157px auto 122px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1224px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 37px;
    margin-right: calc(((100% - 940px) / 2) + 424px);
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 507px);
    margin-left: calc(((100% - 940px) / 2) + 335px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 289px);
    margin-left: calc(((100% - 940px) / 2) + 553px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: calc(((100% - 940px) / 2) + 92px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 24px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-image-3 {
    width: 396px;
    height: 321px;
    margin-top: -328px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: -164px calc(((100% - 940px) / 2) + 192px) 130px calc(((100% - 940px) / 2) + 238px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1278px;
  }

  .u-section-1 .u-image-1 {
    height: 324px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -21px;
    margin-right: calc(((100% - 720px) / 2) + 423px);
    margin-left: calc(((100% - 720px) / 2) + 197px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -19px;
    margin-right: calc(((100% - 720px) / 2) + 199px);
    margin-left: calc(((100% - 720px) / 2) + 423px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 54px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 342px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 342px);
  }

  .u-section-1 .u-image-3 {
    width: 305px;
    margin-top: -361px;
    margin-left: calc(((100% - 720px) / 2) + 19px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-6 {
    width: 510px;
    margin: -153px auto 118px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 331px);
    margin-left: calc(((100% - 540px) / 2) + 111px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 111px);
    margin-left: calc(((100% - 540px) / 2) + 331px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 77px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 213px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 213px);
  }

  .u-section-1 .u-image-3 {
    width: 204px;
    height: 215px;
    margin-top: -340px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: 151px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -158px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1558px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -19px;
    margin-right: calc(((100% - 340px) / 2) + 213px);
    margin-left: calc(((100% - 340px) / 2) + 16px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -21px;
    margin-right: calc(((100% - 340px) / 2) + 29px);
    margin-left: calc(((100% - 340px) / 2) + 213px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2) + 13px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    width: 340px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-top: -140px;
    margin-bottom: 114px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 647px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 88px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px);
  min-height: 559px;
  grid-gap: 14px 14px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/MJ29ATTLr2lOVCgfhqL0_611a69c012e85_cvtpl.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 23px 1px 0 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-13 {
  height: 100%;
}

.u-section-2 .u-icon-14 {
  height: 100%;
}

.u-section-2 .u-icon-15 {
  height: 100%;
}

.u-section-2 .u-icon-16 {
  height: 100%;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 7px) calc(50% - 7px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 200px;
  }
}